.header{
margin: 0 5px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 2px solid red;
}

.brand{
  margin: 5px 20px;
  font-size: 44px;
  font-weight: 700;
}

.brand a{
  text-decoration: none;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
}

.btn-dark{
  width: 90px !important;
  margin-right: 15px;
}
