<!-- <p>admin works!</p> -->
<app-header></app-header>
<ng-template #content let-modal>


    
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Movie</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="movieForm" >
        <div class="mb-3">
          <label for="title">Title</label>
          <div class="title">
            <input id="title" class="form-control" placeholder="Enter a text"  input="text" name="title" formControlName="title" required>
          </div>
        </div>

        <div class="mb-3">
            <label for="actors">Actors</label>
            <div class="actors">
              <input id="actors" class="form-control" placeholder="Enter a text"  input="text" name="actors" formControlName="actors" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="rate">Rate</label>
            <div class="rate">
              <input id="rate" class="form-control" placeholder="Enter a number"  input="number" name="rate" formControlName="rate" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Description</label>
            <div class="description">
              <input id="description" class="form-control" placeholder="Enter a text" input="text" name="description" formControlName="description" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="type">Type</label>
            <div class="type">
              <input id="type" class="form-control" placeholder="Enter a text"  input="text" name="type" formControlName="type" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="photoPath">Photo Path</label>
            <div class="photoPath">
              <input id="photoPath" class="form-control" placeholder="Enter a text" input="text" name="photoPath" formControlName="photoPath" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="url">Url</label>
            <div class="url">
              <input id="url" class="form-control" placeholder="Enter an url"  input="text" name="url" formControlName="url" required>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-outline-dark"  (click)="addMovie(); modal.dismiss('Cross click')" >Save</button>
    </div>
            
  </ng-template>
  
  <div  class="user"><h3>Welcome G.Moawad</h3></div>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add a movie</button>

  <div class="search-box">
  <input
    type="text"
    class="form-control me-2"
    id="search-text"
    aria-describedby="search-text"
    [(ngModel)]="searchText"
    (input)="filterList()"
    placeholder="Enter text to search"
    autofocus
  />
</div>

<div class="movie-list">
  <app-movie [movie]="movie" *ngFor="let movie of filteredMoviesData"></app-movie>
</div>

  