a{
  text-decoration: none;
}

.movie {
  width: 220px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #161a1d;
  border-radius: 5px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.7);
}

.movie:hover{

  border: 1px solid white;
}



.movie-details{
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.movie-title{
  font-size: 14px;
  font-weight: 700;
  color: #f5f3f4;
  margin-top: 8px;
  margin-left: 8px;
}

.movie-rate{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 4px;
  color: white;
  width: 30px;
  height: 25px;
  background-color:#660708;
}

.movie-description{
  font-size: 10px;
}

.movie-img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 320px;
}
