<div class="movies-container"  >
  <div class="movie" *ngFor ="let movie of movies">
    <iframe [src]="movie.url | safe"
    title="Marvel" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="movie-details">
      <p class="movie-title">{{movie.title | uppercase}}</p>
      <p class="movie-type">{{movie.type}}</p>
      <p class="movie-actors">Actors: {{movie.actors}}</p>
      <p class="movie-rate">{{movie.rate}}</p>
      <p class="movie-description">Description: {{movie.description}}</p>
    </div>
  </div>
</div>
